@import "../style_variables.scss";

.footer {
  width: 100%;
  text-align: center;
  color: $text_color;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: $width_breakpoint) {
  .footer {
    p {
      font-size: 0.8em;
    }
  }
}
