@import "../style_variables";

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #logo {
    font-size: 2rem;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: $dark_gray;
  }

  ul {
    list-style: none;
  }
}
