@import "../style_variables";

.search_bar {
  padding: 10px 20px;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: $gray;
  transition: all 0.2s ease;

  #search_input {
    border: none;
    font-size: 2em;
    width: 100%;
    font-family: $font_regular;
    background-color: transparent;
  }

  #search_input:focus {
    outline: none;
  }

  .search_icon {
    margin-right: 10px;
  }
}

@media (max-width: $width_breakpoint) {
  .search_bar {
    width: 75%;

    #search_input {
      font-size: 1.5em;
    }
  }
}
