@import "./style_variables";

* *::before *::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  box-sizing: border-box;
  color: $black;
  width: 93vw;
  max-width: 1300px;
  height: 100vh;
  margin: auto;
  font-family: $font_regular, sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: $black;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("./fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold"), url("./fonts/Inter-Bold.ttf") format("truetype");
}
