//Colors
$background_color: #fff;
$text_color: #000;
$gray: #ececec;
$light_gray: #e0e0e0;
$dark_gray: #929292;
$primary: "#EC6E4C";

//fonts
$font_regular: "Inter";
$font_semibold: "Inter-SemiBold";
$font_bold: "Inter-Bold";

//Breakpoints
$width_breakpoint: 768px;
