//Colors
$background_color: #171738;
$text_color: #dff3e4;
$gray: #ececec;
$light_gray: #e0e0e0;
$dark_gray: #aaaaaa;

//fonts
$font_regular: "Inter";
$font_semibold: "Inter-SemiBold";
$font_bold: "Inter-Bold";

//Breakpoints
$width_breakpoint: 768px;
