//Colors
$white: #fff;
$black: rgb(19, 19, 19);
$gray: #ececec;
$light_gray: #e0e0e0;
$dark_gray: #aaaaaa;

//fonts
$font_regular: "Inter";
$font_semibold: "Inter-SemiBold";
$font_bold: "Inter-Bold";

//Breakpoints
$width_breakpoint: 768px;
